nav a:link,
nav a:visited,
nav a:focus,
nav a:active {
  font-size: 30px;
  padding: 25px;
  margin: 0 20px;
  /* display: inline-block; */
  height: 85px;
}

nav a:link,
nav a:visited {
  text-decoration: none;
  color: #FFF;
}

nav a:focus,
nav a:active {
  color: #AB5484;
  background-color: #E5E9F2;
  border-radius: 5px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding-right: 45px;
}

#logo {
  background-color: #AB5484;
  border-radius: 5px;
  width: 300px;
  height: 72px;
}

.logoContainer {
  height: 45px;
  padding-top: 15px;
  padding-left: 25px;
}

.firstName {
  color: #FFFFFF;
  font-family: Josefin Sans;
  font-size: 35px;
  font-weight: 300;
  line-height: 45px;
  width: 91px;
  text-align: left;
  padding-right: 5px;
}

.lastName {
  color: #FFFFFF;
  font-family: Lato;
  font-size: 35px;
  font-weight: 700;
  line-height: 45px;
  text-align: left;
}